<div class="container" id="title-and-image">
    <img src="public/assets/img/burgie.png" alt="happy burgie" />
    <h1> I'm a Happy Burger!</h1>
</div>

<div class="container">
    <form>
        <div class="form-group col-md-6">
            <label for="ca">Add a Burgie:</label>
            <input type="text" id="ca" name="burger-name">
        </div>
        <button type="submit">Submit Burgie</button>
    </form>
</div>

<div class="container">
    <h2>Burgies to be Eaten!</h2>
    <div class="container" id="uneaten-burgies">
        {{#each burger_data}}
        {{#unless this.devoured}}
        <div class="card">
            <div class="card-body">
                {{this.id}} {{this.burger_name}}
                <form class="eat-button-form">
                    <input input type="hidden" class="burger_id" type="text" value={{this.id}}><br>
                    <button type="submit" class="btn btn-default">Eat Me!</button>
                </form>
            </div>
        </div>
        {{/unless}}
        {{/each}}
    </div>

    <h2>Devoured Burgies!</h2>
    <div class="container" id="eaten-burgies">
        {{#each burger_data}}
        {{#if this.devoured}}
        <div class="card-body">
            {{this.id}} {{this.burger_name}}
        </div>
        {{/if}}
        {{/each}}
    </div>
</div>